<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dream Host</title>
    <link rel="stylesheet" href="static\css\style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
   </head>
<body>
  <nav>
    <div class="menu">
      <div class="logo">
        <a href="https://www.youtube.com/watch?v=QtBDL8EiNZohttps://www.youtube.com/watch?v=QtBDL8EiNZo">DreamHost</a>
      </div>
      <ul>
        <li><a href="C:\Users\india\Desktop\web_01\template\index.html">Home</a></li>
        <li><a href="https://www.youtube.com/watch?v=QtBDL8EiNZohttps://www.youtube.com/watch?v=QtBDL8EiNZo">Client Panel</a></li>
        <li><a href="https://www.youtube.com/watch?v=QtBDL8EiNZohttps://www.youtube.com/watch?v=QtBDL8EiNZo">Game Panel</a></li>
        <li><a href="https://www.youtube.com/watch?v=QtBDL8EiNZohttps://www.youtube.com/watch?v=QtBDL8EiNZo">Contact</a></li>
        <li><a href="https://discord.gg/zaHt236RYQ">Discord</a></li>
      </ul>
    </div>
  </nav>
  <div class="img"></div>
  <div class="center">
    <div class="title">8gb Ram , 40gb Storage for free</div>
    <div class="sub_title">Create your Server now</div>
    <div class="btns">
      <button onclick="window.location.replace('https://www.youtube.com/watch?v=QtBDL8EiNZo');">Panel</button>
      <button onclick="window.location.replace('https://www.youtube.com/watch?v=QtBDL8EiNZo');">Login Discord.</button>
    </div>
  </div>
  <div class="bottom-right">copyright © 2022 all rights reserved DreamHost</div>
</body>

</html>
